button {
    color: black;
    background-color: grey;
    font-size: 20px;
    position: relative;
    top: 3px;
}

.done {
    color: red;

    
}

.notDone {
    color: black;
    
}

.item {
    display: flex;
    width: 20%;
}

body {
    background-color: grey;
}

p {
    margin: 0;
}