
// import title font
@font-face{ 
	font-family: 'fofbb-ital';
	src:     url('../feast-of-flesh/fofbb_ital-webfont.woff') format('woff')
}

// fonts
$primaryFont: 'poppins', sans-serif;
$titleFont: 'fofbb-ital', cursive;


